# Based on desimodules/20.8.
pytz
requests
astropy==4.0.1.post1
numba
healpy
speclite
sqlalchemy
fitsio==1.1.5
# Install desiutil separately since it is needed for the other installs.
# git+https://github.com/desihub/desiutil.git@3.1.0#egg=desiutil
git+https://github.com/desihub/specter.git@0.10.0#egg=specter
git+https://github.com/desihub/desimodel.git@0.14.1#egg=desimodel
# Don't forget to install desimodel test data.
git+https://github.com/desihub/desitarget.git@1.3.0#egg=desitarget
git+https://github.com/desihub/redrock.git@0.14.4#egg=redrock
