# Based on desimodules/20.8.
astropy==4.0.1.post1
numba
healpy
speclite
sqlalchemy
fitsio
# Install desiutil separately since it is needed for the other installs.
# git+https://github.com/desihub/desiutil.git@3.1.0#egg=desiutil
git+https://github.com/desihub/specter.git@0.9.4#egg=specter
git+https://github.com/desihub/desimodel.git@0.13.0#egg=desimodel
# Don't forget to install desimodel test data.
git+https://github.com/desihub/desitarget.git@0.42.0#egg=desitarget
git+https://github.com/desihub/redrock.git@0.14.4#egg=redrock
